body {
    font-family: 'Roboto', sans-serif;
    // le layout est entièrement flexbox
}

main{
    display: grid;
    grid-template-columns: .08fr repeat(5, 1fr);
    grid-auto-rows: minmax(50px, auto);
}

.heure{
    grid-column: 1;
}

// ---------------------------------------------------------------- un premier point de rupture 
@media screen and (min-width:600px) {

}
